#lang-dropdown-btn {
    width: 150px
}

.lang-choice {
    cursor: pointer;
}

.lang-choice:hover {
    background-color: lightgray;
}

span.lang-sm.lang-lbl-full.lang-choice {
    margin-left: 5px; !important;
    margin-right: 5px; !important;
}

#container-notification {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 100;
}