.table-number-width{
    width: 1%;
}

.table-toBeBought-width{
    width: 7%;
}

.table-bought-width{
    width: 7%;
}

.table-delete-width{
    width: 1%;
}

.table-input-number-width{
    width: 40px;
}


