.table-number-width {
    width: 1%;
}

.table-toBeBought-width {
    width: 7%;
}

.table-bought-width {
    width: 7%;
}

.table-delete-width {
    width: 1%;
}

.table-input-number-width {
    width: 40px;
}

.alert-danger {
    color: black;
    background-color: #d9534f;
    border-color: #d9534f;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-open .modal {
    overflow-x: auto;
    overflow-y: auto;
}

td.USED {
    background-color: rgba(255,0,0,0.2);
}

td.PURCHASED {
    background-color: rgba(0,255,0,0.2);
}

#btn-deleteAll {
    margin-top: 3px;
}

.square_USED, .square_PURCHASED {
    display: block;
    width: 15px;
    height: 15px;
    border: thin solid;
    margin-right: 5px;
    position: relative;
}

.square_USED {
    background: red;
    margin-top: 2px;
}

.square_PURCHASED {
    background: green;
    margin-bottom: 2px;
}

.color_USED {
    color: red;
}

.color_PURCHASED {
    color: green;
}

div.search-item {
   padding-right: 0px;
}

tr.noitems {
    background: rgba(255,0,0,0.3) !important;
    text-align: center;
}


