.table-number-width{
    width: 1%;
}

.table-toBeBought-width{
    width: 7%;
}

.table-bought-width{
    width: 7%;
}

.table-delete-width{
    width: 1%;
}

.table-input-number-width{
    width: 40px;
}

.alert-danger {
    color: black;
    background-color: #d9534f;
    border-color: #d9534f;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.modal-open .modal {
    overflow-x: auto;
    overflow-y: auto;
}