.btn-success-custom {
    width: 120px;
}

.btn-reset-custom {
    width: 80px;
}

.alert-delete {
    color: black;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-open .modal {
    overflow-x: auto;
    overflow-y: auto;
}